.title {
	text-align: left;

}

.name,
.prio-inp {
	width: 100%;
	padding: 8px 8px;
	box-sizing: border-box;
}

.sw-button {
	width: 100px;
	margin-right: auto;
	margin-left: 0;

}

.author,
.lastm {
	text-align: left;
	color: gray;
}